.product{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;

    &__card{
        margin: 30px 10px 30px 0;
    }

    &__button{
        margin: 0  20px 20px auto;
        width: 100px;
    }

    &__image{
        margin: 0 0  auto 0;
        max-width: 300px;
    }

    &__search{
        margin-top: 10px;
        width: 400px;
    }
}
