// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import 'bootstrap/scss/bootstrap';


//@import "common";
@import "index";
@import "mixines";
@import "welcome";
@import "auth";
@import "contact";
@import "request";
@import "about";
@import "all_product";


.container {
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 5px;
}


