.container_auth {
    max-width: 1440px;
    padding: 0 5px;
    width: 500px;
    margin: 0 auto;
}

.login {
    &__title {
        margin-top: 45%;
        font-size: 30px;
    }

    &__pad {
        margin-bottom: 20px;
    }

    &__label {
        margin-bottom: 10px;
    }
}
